#login {
  width: 350px;
}

#loginform {
  width: 100%;
  box-sizing: border-box;
}

#login .simple-login-security-turnstile {
  margin: 12px 0 16px;
}

#login .simple-login-security-turnstile .cf-turnstile {
  display: inline-block;
}
